@page
@model IndexModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post">
    <button asp-page-handler="ImportDataFromFile">Імпортувати данні з файлу.</button>
</form>
