@page
@model IndexModel

<form method="post">
    <button asp-page-handler="ExportAll">Експортувати всі групи відключень в JSON.</button>
</form>

<form method="post">
    <button asp-page-handler="ExportById">Експортувати окрему группу в JSON.</button>
</form>